table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 60%;
  text-align: center;
  margin: auto;

}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
}

.centrado {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

h1 {
  font-size: 35px;
}

body {
  margin-top: 10%;
  /*Background Oscurecido*/
  background: rgba(0, 0, 0, 0.8) url("../assets/images/fondo.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-blend-mode: darken;

  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.numG {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 5px;
  border-bottom: 7px solid white;
}

.names_list, .index_pages {
  list-style-type: none;
  padding: 0%;
}

a {
  color: white;
  text-decoration: none;
}

.link_main {
  display: inline-block;
  padding: 8px;

  margin: 5px;
  border: 2px solid white;
  
  background-color: blueviolet;
}







